---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  SITE_AUTHOR,
  SITE_DATE,
  SITE_KEYWORDS,
  SITE_IMAGE,
} from "../consts";
---

<BaseLayout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  author={SITE_AUTHOR}
  date={SITE_DATE}
  keywords={SITE_KEYWORDS}
  image={SITE_IMAGE}
>
  <Header title={SITE_TITLE} />
  <main>
    <center>
      <span class="index-title">{SITE_TITLE}</span>
      <hr/>
      <p>{SITE_DESCRIPTION}</p>
      <p></p>
    </center>
  </main>
  <Footer />
</BaseLayout>
<style>
  .index-title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
</style>
