---
// Import the global.css file here so that it is included on
// all pages through the use of the <Head /> component.
import {
  DEFAULT_TITLE,
  DEFAULT_DESCRIPTION,
  DEFAULT_AUTHOR,
  DEFAULT_DATE,
  DEFAULT_KEYWORDS,
  DEFAULT_IMAGE,
} from "../consts";
import "../styles/global.css";

export interface Props {
  title: string;
  description?: string;
  author?: string;
  date?: string;
  kewords?: string;
  image?: string;
}

// get canonical URL (no trailing slash)
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = DEFAULT_TITLE,
  description = DEFAULT_DESCRIPTION,
  author = DEFAULT_AUTHOR,
  date = DEFAULT_DATE,
  keywords = DEFAULT_KEYWORDS,
  image = DEFAULT_IMAGE,
} = Astro.props;
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <!-- icon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />

  <!--<script src="../site.js"></script>-->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
    integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
    crossorigin="anonymous"
  />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />
  <meta name="author" content={author} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(image, Astro.url)} />
</head>
