---
// for social icon SVGs, I download from: https://fontawesome.com/v5/search
import { getAuthorData } from "../consts";
import MyImage from "./MyImage.astro";

const { author } = Astro.props;

const authorData = getAuthorData(author);

/* if this isn't your website, paste this in lower
  {
    authorData.website && (
      <a
        href={`{authorData.website}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon social-icon-house"
      >
        <img src="/assets/house.svg" alt="website" />&middot;{authorData.website.replace(/(^\w+:|^)\/\//, "")}
      </a>
    )
  }

*/
---

<div class="social-icons-wrapper">
  {
    authorData.email && (
      <a
        href={`mailto:${authorData.email}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon social-icon-email"
      >
        <MyImage src="/assets/paper-plane.svg" alt="email" />/{authorData.email}
      </a>
    )
  }
  {
    authorData.github && (
      <a
        href={`https://github.com/${authorData.github}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon social-icon-github"
      >
        <MyImage src="/assets/github.svg" alt="github" />/{authorData.github}
      </a>
    )
  }
  {
    authorData.twitter && (
      <a
        href={`https://twitter.com/${authorData.twitter}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon social-icon-twitter"
      >
        <MyImage src="/assets/twitter.svg" alt="twitter" />
        /@{authorData.twitter}
      </a>
    )
  }
  {
    authorData.instagram && (
      <a
        href={`https://instagram.com/${authorData.instagram}`}
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon social-icon-instagram"
      >
        <MyImage src="/assets/instagram.svg" alt="instagram" />
        /@{authorData.instagram}
      </a>
    )
  }
</div>

<style is:global>
  .social-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* on small screens, stack column wise */
  @media (max-width: 768px) {
    .social-icons-wrapper {
      flex-direction: column;
    }
  }

  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.8em;
    text-decoration: none;
    color: var(--color-header-link);
  }
  .social-icon img {
    width: 28px;
    height: 28px;
    margin: 0 !important;
  }
  /* rainbow colors */
  .social-icon-house {
    filter: invert(0.5) sepia(1) saturate(5) brightness(0.7) hue-rotate(-100deg);
  }
  .social-icon-email {
    filter: invert(0.5) sepia(1) saturate(5) brightness(0.7) hue-rotate(-40deg);
  }
  .social-icon-github {
    filter: invert(0.5) sepia(1) saturate(5) brightness(0.7) hue-rotate(60deg);
  }
  .social-icon-twitter {
    filter: invert(0.5) sepia(1) saturate(5) brightness(0.7) hue-rotate(140deg);
  }
  .social-icon-instagram {
    filter: invert(0.5) sepia(1) saturate(5) brightness(0.7) hue-rotate(210deg);
  }
</style>
