---
import {
  DEFAULT_TITLE,
  DEFAULT_DESCRIPTION,
  DEFAULT_AUTHOR,
  DEFAULT_DATE,
  DEFAULT_KEYWORDS,
  DEFAULT_IMAGE,
  getAuthorData,
} from "../consts";

import FormatDate from "../components/FormatDate.astro";
import Figure from "./Figure.astro";

const {
  title = DEFAULT_TITLE,
  description = DEFAULT_DESCRIPTION,
  author = DEFAULT_AUTHOR,
  date = DEFAULT_DATE,
  keywords = DEFAULT_KEYWORDS,
  image = DEFAULT_IMAGE,
} = Astro.props;

const authorData = getAuthorData(author);
//console.log("IMAGE", image)
//const imageSrc = (await import("../.." + image)).default;
//console.log("IMAGESRC", imageSrc)

---

<div class="page-title">
  <center>
    {image && <Figure class="page-image" src={image} alt="" />}

    <h1 class="title">{title}</h1>

    {
      author && (
        <div>
          by <span class="author">{authorData.name}</span>
          <a href={"mailto:" + authorData.email}>&lt;{authorData.email}&gt;</a>
        </div>
      )
    }

    {date && <FormatDate date={date} />}

    <hr />
  </center>
</div>

<style>
  /*
  .page-title {
    margin: 0.5em 2.5em;
  }*/

  img {
    margin: 0 auto;
  }

  .author {
    font-weight: bold;
  }

  .page-image {
    height: 50vh;
  }

  .title {
    /*font-size: 1.7em;*/
    line-height: 2.35rem;
    margin-top: 0.7em;
    margin-bottom: 0.4em;
    font-weight: 600;
  }
</style>
