---
import Head from "../components/Head.astro";
import { getFrontmatter } from "../consts";

const { frontmatter, headings } = Astro.props;

const { title, description, author, date, keywords, image } =
  getFrontmatter(frontmatter);
---

<html lang="en">
  <Head
    title={title}
    author={author}
    date={date}
    description={description}
    image={image}
  />

  <body data-theme="chalkboard">
    <slot />
  </body>
</html>
