---
import Head from "../components/Head.astro";
import SiteTitle from "../components/SiteTitle.astro";
import {
  DEFAULT_TITLE,
  DEFAULT_DESCRIPTION,
  DEFAULT_AUTHOR,
  DEFAULT_DATE,
  DEFAULT_KEYWORDS,
  DEFAULT_IMAGE,
} from "../consts";

const {
  title = DEFAULT_TITLE,
  description = DEFAULT_DESCRIPTION,
  author = DEFAULT_AUTHOR,
  date = DEFAULT_DATE,
  keywords = DEFAULT_KEYWORDS,
  image = DEFAULT_IMAGE,
} = Astro.props;
---

<html lang="en">
  <Head
    title={title}
    author={author}
    date={date}
    description={description}
    image={image}
  />

  <body data-theme="chalkboard">
    <slot />
  </body>
</html>
