---
import BaseLayout from "./BaseLayout.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Title from "../components/Title.astro";

import {
  DEFAULT_TITLE,
  DEFAULT_DESCRIPTION,
  DEFAULT_AUTHOR,
  DEFAULT_DATE,
  DEFAULT_KEYWORDS,
  DEFAULT_IMAGE,
  getAuthorData,
  SITE_TITLE,
} from "../consts";

const {
  title = DEFAULT_TITLE,
  description = DEFAULT_DESCRIPTION,
  author = DEFAULT_AUTHOR,
  date = DEFAULT_DATE,
  keywords = DEFAULT_KEYWORDS,
  image = DEFAULT_IMAGE,
} = Astro.props;
---

<BaseLayout
  title={title + " | " + SITE_TITLE}
  description={description}
  author={author}
  date={date}
  keywords={keywords}
  image={image}
>
  <Header />

  <Title 
    title={title}
    description={description}
    author={author}
    date={date}
    keywords={keywords}
    image={image}
  />
  <main>
    <article>
      <slot />
    </article>
  </main>
  <Footer />
</BaseLayout>
