---
import BaseLayout from "./BaseLayout.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Title from "../components/Title.astro";
import TOC from "../components/TOC.astro";

import { SITE_TITLE, getFrontmatter } from "../consts";

const { frontmatter, headings } = Astro.props;

const { title, description, author, date, keywords, image } =
  Astro.props.frontmatter || Astro.props;
---

<BaseLayout
  title={title + " | " + SITE_TITLE}
  description={description}
  author={author}
  date={date}
  keywords={keywords}
  image={image}
>
  <Header />

  <Title
    title={title}
    description={description}
    author={author}
    date={date}
    keywords={keywords}
    image={image}
  />

  <main>
    {
      headings && (
        <aside>
          <center>Table of Contents</center>
          <hr />
          <TOC headings={headings} />
        </aside>
      )
    }
    <section>
      <article>
        <slot />
      </article>
    </section>
  </main>

  <Footer />
</BaseLayout>
<style>
  .scrolly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  aside {
    width: 75%;
    margin: 1em auto;
    padding: 1em;
  }

  @media only screen and (min-width: 1000px) {
    aside {
      position: -webkit-sticky;
      position: sticky;
      width: clamp(280px, 24vw, 400px);
      background: var(--color-background);
      top: 0.25em;
      right: 0.25em;
      float: right;
      margin: 0.25em;
      padding: 0.25em;
    }

    article {
      border-right: 1px solid var(--color-outline);
    }
  }
</style>
